<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Curso Vue 3</title>
  </head>
  <body>
    <div id="app">
      <h1 class="bolder">{{title}}</h1>
      <h2>{{fullName}}</small></h2>
      <hr />
      <p>Carrinho: ({{cart.length}})</p>
      <hr />
      <div
        class="justify-start mt-10 mx-10 inline-block shadow-2xl"
        id="perfis"
        v-for="(product, index) in products"
        :key="index"
      >
        <label>{{product.title}}</label><br />
        <img style="height: 150px" :src="product.image" :alt="product.title" />
        <a 
            href="#" 
            @click.prevent="addCart(product)"
            v-if="!inCart(product)">
            Adicionar
        </a>
        <a 
            href="#" 
            @click.prevent="rmCart(product)"
            v-else>
            Remover
        </a>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
